.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    color: white;
    background-color: #229E6B;
    cursor: pointer;
    transition: 0.1s;
    p{
        font-size: 15px;
        font-weight: 700;
    }
    &:hover{
        transition: 0.1s;
        background-color: #18754F;
    }
    &.large{
        width: 444px;
        height: 52px;
        border-radius: 20px;
    }
    &.small{
        width: 222px;
        height: 35px;
        border-radius: 15px;
    }
    &.verySmall{
        width: 137px;
        height: 25px;
        border-radius: 15px;
        &.enabled:hover{
            p{
                transition: 0.1s;
                transform: scale(1.1);
            }
        }
    }
    &.backTransparent{
        background-color: white;
        color: #229E6B;
        border: 2px solid #229E6B;
    }
    &.disabled{
        background-color: #BEDED1;
        color: white;
        border: none;
        cursor: default;
    }
    &.enabled:hover{
        p{
            transition: 0.1s;
            transform: scale(1.2);
        }
    }
    &.selected{
        border: 1px solid #835800;
        background: #FFBC4F;
        color: #835800;
        &:hover{
            p{
                transform: scale(1) !important;
            }
        }
    }
}