.containerMain {
    display: flex;
    justify-content: center;
    height: 75vh;
    overflow-x: hidden;
    padding: 40px 126px 0 126px;
    margin-bottom: 26px;

    .containerHome {
        display: flex;
        width: 1188px;
        height: 587px;
        flex-direction: column;
        justify-content: center;
        gap: 29px;

        .containerCategorys {
            height: 117px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .textHoverCategorys {
                color: #f4f4f4;
            }
        }

        .wrapperButtonHelp {
            display: flex;
            justify-content: flex-end;
        }
    }


}