@import './mediaQueries.scss';
@import './generalStyles.scss';


// COMPONENTS
@import "./components/loader.scss";
@import "./components/likeHeart.scss";
@import "./components/button.scss";
@import "./components/input.scss";


// FEATURES
//UI 
@import "features/ui/Header.scss";
@import "features/ui/Footer.scss";

// VIEWS
//HOME
@import "views/Home/Home.scss";
@import "views/Home/components/Slider/Slider.scss";
//SIGNUP
@import "views/Signup/Signup.scss";

.errorScreen {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 32px;
    gap: 24px;
    color: white;
}